h3{
color:#321370;
}
.container{
text-align:center;
margin-top:25px;
}

.calc{
border:3px solid #938AF2;
width:270px;
background-color:#D9D0D2;
margin:auto;
}

#screen{
width:250px;
height:30px;
border-width:3px;
border-color:#938AF2;
}
#screen1{
margin-top:5px;
width:250px;
height:30px;
border-width:3px;
border-color:#938AF2;
}

table{
margin:auto;
}
input{
font-size:25px;
}
#numb{
background-color:#FF9193;
font-size:25px;
width:40px;
height:40px;
}
#op{
background-color:#9887FF;
font-size:25px;
width:40px;
height:40px;
}
#fun{
background-color:#A7C4DB;
font-size:25px;
width:80px;
height:40px;
}
